body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.skil {
	padding-top: 30px;
}
.skil img {
	width: 100px;
	height: 100px;
}
.skil2 {
	padding-top: 15px;
}
.frst-bgr {
	background: url(img/1.png) no-repeat;
}
#section0 {
	background-color: #BFD5E4;
	background-size: cover;
	z-index: 2;
}
#section0 h1 {
	text-shadow: 2px 1px 2px lightgrey;
}
#section0 p {
	color: white;
	text-shadow: 0 0 6px black;
}
#section1 {
	background-color: #BFD5E4;
}
#section1 p {
	font-size: 1em;
}
#section2 {
	background-color: #83B7BC; 
}
#section2 p {
	font-size: 1em;
}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.intro ul {
	list-style-type: none;
	text-align: left;
}
.intro ul li {
	padding: 10px;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.my-proj {
	margin-top: 15vh;
	margin-bottom: 2vh;
	width: 55%;
	border: 2px solid grey;
	box-shadow: 4px 4px 4px #808080;
}
#section3 {
	background-image: url(img/2.png);
	background-size: cover;
	z-index: 2;
}
#section3 h1 {
	text-shadow: 2px 1px 2px lightgrey;
}
#section3 p {
	color: white;
	text-shadow: 0 0 6px black;
}
#footer {
	position:fixed;
		height: 20px;
		display:block;
		width: 100%;
		background: #676868;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 5px 0 0 0;
		bottom: 0px;
		font-size: 10px;
	}

@media screen and (max-width: 767px) {
	#menu {
		font-size: 10px;
	}
	#menu li a, #menu li.active a {
		padding: 5px 15px;
    	display: block;
    	margin: 0 auto;
	}
	.col-xs-12 img {
		width: 20px;
		height: 20px;
	}
	.skil {
		font-size: 10px;
	}
	.skil2 {
		padding-top: 0;
		margin-top: 0;
	}
	#section0 h1 {
		font-size: 25px;
	}
	#section0 p {
		font-size: 20px;
	}
	#section3 h1 {
		font-size: 25px;
	}
	#section3 p {
		font-size: 20px;
	}	
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	#menu {
		font-size: 15px;
	}
	#menu li a, #menu li.active a {
		padding: 10px 25px;
    	display: block;
    	margin: 0 auto;
	}
	.col-xs-12 img {
		width: 40px;
		height: 40px;
	}
	.skil {
		font-size: 12px;
	}
	#section0 h1 {
		font-size: 45px;
	}
	#section0 p {
		font-size: 30px;
	}
	#section3 h1 {
		font-size: 45px;
	}
	#section3 p {
		font-size: 30px;
	}	
}